# Project Config Folders
.vscode/**
.vscode-test/**
.husky/**
.github/**

# SourceCode Folders
src/**
bin/**

# Project config files
.editorconfig
.prettierrc
.gitignore
tsconfig.json

# Lock files
bun.lockb
