.vscode-markdown-github {
  img {
    border-style: none;
    max-width: 100%;
    // because we put padding on the images to hide header lines, and some people
    // specify the width of their images in their markdown.
    box-sizing: content-box;
    background-color: var(--color-canvas-default);

    &[align="right"] {
      padding-left: 20px;
    }

    &[align="left"] {
      padding-right: 20px;
    }
  }

  table {
    img {
      background-color: transparent;
    }
  }
  // Gollum Image Tags (TODO)
}
