.markdown-body .csv-data {
  td,
  th {
    padding: 5px;
    overflow: hidden;
    font-size: $font-size-small;
    line-height: $lh-condensed-ultra;
    text-align: left;
    white-space: nowrap;
  }

  .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: var(--bgColor-default, var(--color-canvas-default));
    border: 0;
  }

  tr {
    border-top: 0;
  }

  th {
    font-weight: $font-weight-bold;
    background: var(--bgColor-muted, var(--color-canvas-subtle));
    border-top: 0;
  }
}
