.vscode-markdown-github.github-light-default {
  --color-canvas-default: #fff;
  --color-border-muted: #d8dee4;
  --color-border-default: #d0d7de;
  --color-fg-default: #24292f;
  --color-fg-muted: #57606a;
}
