.vscode-markdown-github.vscode-theme-auto {
  --color-accent-fg: var(--vscode-textLink-foreground);
  --color-accent-emphasis: var(--vscode-textLink-foreground);
  --color-canvas-default: var(--vscode-editor-background);
  --color-canvas-subtle: var(--vscode-editorWidget-background);
  --color-neutral-muted: var(--vscode-textSeparator-foreground);
  --color-border-muted: var(--vscode-focusBorder);
  --color-border-default: var(--vscode-editorWidget-border);
  --color-fg-default: var(--vscode-editor-foreground);
  --color-fg-muted: var(--vscode-descriptionForeground);
}
