/* Normal */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
.markdown-body {
  padding: 0;
  font-size: 16px;
  background-color: var(--bgColor-default);
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  overflow-y: auto;
}

.vscode-body.scrollBeyondLastLine {
  margin-bottom: 0;
}

.vscode-github-markdown {
  overflow: visible !important;
  margin: 0 auto;
  width: 100% !important;
  height: 100%;
  padding: 36px;
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);

  a {
    text-decoration: underline;
  }

  blockquote {
    background-color: inherit;
    border-radius: 0;
  }

  pre,
  code {
    color: inherit;
    font-family: var(--vscode-editor-font-family);
  }

  .data-footnote-backref,
  .footnote-ref a {
    text-decoration: none;
  }
}
