/* Normal */
.vscode-body.scrollBeyondLastLine {
  margin-bottom: 0;
}

html,
body,
.markdown-body {
  padding: 0;
  font-size: 16px;
  background-color: var(--bgColor-default);
  width: 100%;
  height: 100vh;
  min-height: calc(100vh - 36px * 2);
  box-sizing: border-box;
}

.vscode-github-markdown {
  margin: 0 auto;
  min-height: calc(100vh - 36px * 2);
  padding: 36px;
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);

  a {
    text-decoration: underline;
  }

  &[data-link-underlines="false"] a {
    text-decoration: none;
  }

  blockquote {
    background-color: inherit;
    border-radius: 0;
  }

  pre,
  code {
    color: inherit;
  }

  .data-footnote-backref,
  [data-footnote-ref] {
    text-decoration: none;
  }

  /* hljs */
  .hljs {
    color: var(--color-fg-default);
    background: var(--color-canvas-subtle);
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    color: var(--color-prettylights-syntax-keyword);
  }

  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: var(--color-prettylights-syntax-entity);
  }

  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-variable,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id {
    color: var(--color-prettylights-syntax-constant);
  }

  .hljs-regexp,
  .hljs-string,
  .hljs-meta .hljs-string {
    color: var(--color-prettylights-syntax-string);
  }

  .hljs-built_in,
  .hljs-symbol {
    color: var(--color-prettylights-syntax-variable);
  }

  .hljs-comment,
  .hljs-code,
  .hljs-formula {
    color: var(--color-prettylights-syntax-comment);
  }

  .hljs-name,
  .hljs-quote,
  .hljs-selector-tag,
  .hljs-selector-pseudo {
    color: var(--color-prettylights-syntax-entity-tag);
  }

  .hljs-subst {
    color: var(--color-prettylights-syntax-constant);
  }

  .hljs-section {
    color: var(--color-prettylights-syntax-markup-heading);
    font-weight: bold;
  }

  .hljs-bullet {
    color: var(--color-prettylights-syntax-markup-list);
  }

  .hljs-emphasis {
    color: var(--color-prettylights-syntax-constant);
    font-style: italic;
  }

  .hljs-strong {
    color: var(--color-prettylights-syntax-constant);
    font-weight: bold;
  }

  .hljs-addition {
    color: var(--color-prettylights-syntax-markup-inserted-text);
    background-color: var(--color-prettylights-syntax-markup-inserted-bg);
  }

  .hljs-deletion {
    color: var(--color-prettylights-syntax-markup-deleted-text);
    background-color: var(--color-prettylights-syntax-markup-deleted-bg);
  }

  .hljs-char.escape_,
  .hljs-link,
  .hljs-params,
  .hljs-property,
  .hljs-punctuation,
  .hljs-tag {
    color: var(--color-fg-default);
  }
}

.vscode-github-markdown[data-color-mode="vscode"] {
  --bgColor-default: var(--vscode-editor-background);
  --bgColor-muted: var(--vscode-textBlockQuote-background, var(--vscode-editor-background));
  --bgColor-neutral-muted: var(
    --vscode-textCodeBlock-background,
    var(--vscode-textBlockQuote-background, var(--vscode-editor-background))
  );
  --bgColor-attention-muted: var(--vscode-inputValidation-warningBackground, var(--bgColor-muted));
  --bgColor-danger-muted: var(--vscode-inputValidation-errorBackground, var(--bgColor-muted));
  --borderColor-default: var(
    --vscode-textSeparator-foreground,
    var(--vscode-textBlockQuote-border, var(--vscode-contrastBorder, transparent))
  );
  --borderColor-muted: var(--borderColor-default);
  --borderColor-neutral-muted: var(--borderColor-default);
  --borderColor-accent-emphasis: var(--vscode-focusBorder);
  --borderColor-attention-emphasis: var(
    --vscode-inputValidation-warningBorder,
    var(--vscode-editorWarning-foreground, var(--borderColor-default))
  );
  --borderColor-attention-muted: var(--borderColor-attention-emphasis);
  --borderColor-danger-emphasis: var(
    --vscode-inputValidation-errorBorder,
    var(--vscode-editorError-foreground, var(--borderColor-default))
  );
  --borderColor-done-emphasis: var(
    --vscode-inputValidation-infoBorder,
    var(--vscode-editorInfo-foreground, var(--borderColor-default))
  );
  --borderColor-success-emphasis: var(
    --vscode-testing-iconPassed,
    var(--borderColor-accent-emphasis)
  );
  --fgColor-default: var(--vscode-editor-foreground);
  --fgColor-muted: var(--vscode-descriptionForeground, var(--vscode-editor-foreground));
  --fgColor-accent: var(--vscode-textLink-foreground);
  --fgColor-attention: var(--vscode-editorWarning-foreground, var(--vscode-editor-foreground));
  --fgColor-danger: var(--vscode-editorError-foreground, var(--vscode-errorForeground));
  --fgColor-done: var(--vscode-editorInfo-foreground, var(--vscode-textLink-foreground));
  --fgColor-success: var(--vscode-testing-iconPassed, var(--vscode-textLink-foreground));
  --selection-bgColor: var(--vscode-editor-selectionBackground);
  --focus-outline-color: var(--vscode-focusBorder);
  --focus-outlineColor: var(--vscode-focusBorder);
  --color-canvas-subtle: var(--bgColor-neutral-muted);
  --color-fg-default: var(--fgColor-default);
  --color-prettylights-syntax-brackethighlighter-angle: var(--fgColor-muted);
  --color-prettylights-syntax-brackethighlighter-unmatched: var(--fgColor-danger);
  --color-prettylights-syntax-carriage-return-bg: var(--bgColor-danger-muted);
  --color-prettylights-syntax-carriage-return-text: var(--fgColor-danger);
  --color-prettylights-syntax-comment: var(--fgColor-muted);
  --color-prettylights-syntax-constant: var(
    --vscode-symbolIcon-constantForeground,
    var(--fgColor-accent)
  );
  --color-prettylights-syntax-constant-other-reference-link: var(--fgColor-accent);
  --color-prettylights-syntax-entity: var(
    --vscode-symbolIcon-methodForeground,
    var(--fgColor-done)
  );
  --color-prettylights-syntax-entity-tag: var(
    --vscode-symbolIcon-classForeground,
    var(--fgColor-danger)
  );
  --color-prettylights-syntax-invalid-illegal-bg: var(--bgColor-danger-muted);
  --color-prettylights-syntax-invalid-illegal-text: var(--fgColor-danger);
  --color-prettylights-syntax-keyword: var(
    --vscode-symbolIcon-keywordForeground,
    var(--fgColor-accent)
  );
  --color-prettylights-syntax-markup-bold: var(--fgColor-default);
  --color-prettylights-syntax-markup-changed-bg: var(--bgColor-attention-muted);
  --color-prettylights-syntax-markup-changed-text: var(--fgColor-attention);
  --color-prettylights-syntax-markup-deleted-bg: var(--bgColor-danger-muted);
  --color-prettylights-syntax-markup-deleted-text: var(--fgColor-danger);
  --color-prettylights-syntax-markup-heading: var(--fgColor-done);
  --color-prettylights-syntax-markup-ignored-bg: var(
    --vscode-inputValidation-infoBackground,
    var(--bgColor-muted)
  );
  --color-prettylights-syntax-markup-ignored-text: var(--fgColor-done);
  --color-prettylights-syntax-markup-inserted-bg: var(--bgColor-neutral-muted);
  --color-prettylights-syntax-markup-inserted-text: var(--fgColor-success);
  --color-prettylights-syntax-markup-italic: var(--fgColor-default);
  --color-prettylights-syntax-markup-list: var(--fgColor-attention);
  --color-prettylights-syntax-meta-diff-range: var(--fgColor-done);
  --color-prettylights-syntax-storage-modifier-import: var(--fgColor-default);
  --color-prettylights-syntax-string: var(
    --vscode-symbolIcon-stringForeground,
    var(--fgColor-success)
  );
  --color-prettylights-syntax-string-regexp: var(--color-prettylights-syntax-string);
  --color-prettylights-syntax-sublimelinter-gutter-mark: var(--fgColor-muted);
  --color-prettylights-syntax-variable: var(
    --vscode-symbolIcon-variableForeground,
    var(--fgColor-attention)
  );
}

body.vscode-high-contrast,
body.vscode-high-contrast-light {
  .vscode-github-markdown[data-color-mode="auto"],
  .vscode-github-markdown[data-color-mode="vscode"] {
    --bgColor-default: var(--vscode-editor-background) !important;
    --fgColor-default: var(--vscode-editor-foreground) !important;
    --fgColor-accent: var(--vscode-textLink-foreground) !important;
    --focus-outlineColor: var(--vscode-focusBorder) !important;

    :focus-visible {
      outline: 2px solid var(--vscode-focusBorder) !important;
      outline-offset: 2px;
    }
  }
}
