html,
body {
  padding: 0;
  overflow: hidden;
}

.vscode-body.scrollBeyondLastLine {
  margin-bottom: 0;
}

.vscode-body.scrollBeyondLastLine .vscode-markdown-github {
  height: 100vh;
  overflow-y: scroll;
}

.vscode-dark.showEditorSelection .code-line:hover:before {
  display: none;
}
