html,
body,
.markdown-body {
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body.showEditorSelection .code-line {
  position: static;
}

.vscode-body.scrollBeyondLastLine {
  margin-bottom: 0;
}

.vscode-body.scrollBeyondLastLine .vscode-markdown-github {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}

.vscode-dark.showEditorSelection .code-line:hover:before {
  display: none;
}
