name: Release to VSCode Marketplace

on:
  release:
    types:
      - published
      - prereleased
jobs:
  publish:
    name: Release to VSCode Marketplace
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: pnpm/action-setup@v4
        with:
          version: 8
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i
      - name: Publish official version
        if: success()
        run: pnpm release
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
